<div class="case__content swiper-slide">
    <div class="case__img">
        <img src="img/case.jpg" alt="">
    </div>
    <div class="case__props">
        <div class="case__props-item">
            <div class="case__props-title">Марка</div>
            <div class="case__props-desc">Cadillac</div>
        </div>
        <div class="case__props-item">
            <div class="case__props-title">Модель</div>
            <div class="case__props-desc">XT4 PREMIUM LUXURY</div>
        </div>
        <div class="case__props-item">
            <div class="case__props-title">Год</div>
            <div class="case__props-desc">2020</div>
        </div>
        <div class="case__props-item">
            <div class="case__props-title">
                Пробег
                <sub>мили</sub>
            </div>
            <div class="case__props-desc">2,238</div>
        </div>
        <div class="case__props-item">
            <div class="case__props-title">Двигатель</div>
            <div class="case__props-desc">2.0L 4</div>
        </div>
        <div class="case__props-item">
            <div class="case__props-title">Трансмиссия</div>
            <div class="case__props-desc">Автоматическая</div>
        </div>
        <div class="case__props-item">
            <div class="case__props-title">Двери</div>
            <div class="case__props-desc">4</div>
        </div>
        <div class="case__props-item">
            <div class="case__props-title">Кондиционер</div>
            <div class="case__props-desc">Есть</div>
        </div>
        <div class="case__props-item">
            <div class="case__props-title">Привод</div>
            <div class="case__props-desc">Передний</div>
        </div>
    </div>
    <div class="case__info">
        <button class="case__btn">
            <span>Читать подробнее</span>
            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5 5L9 1" stroke="white" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <div class="case__text body-text">
            <p>Разнообразный и богатый опыт говорит нам, что современная методология разработки выявляет срочную потребность новых предложений. Лишь тщательные исследования конкурентов будут призваны к ответу. Но независимые государства ассоциативно распределены по отраслям.</p>
        </div>
    </div>
</div>
